/***********************************

Author: Terence Onyeweke
email: onyeweketerence@gmail.com 

************************************/

/************************************************************************************
General css starts
**************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf') format('truetype');
} */

* {
    /* font-family: 'Montserrat', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html{
    font-size: 16px !important;
    font-family: Poppins, Segoe UI, Tahoma, sans-serif !important;
  }

a {
    text-decoration: none;
}

:root {
    --header-bg: #E2E1DD;
    --link-color: #424242;
    --black-text: #000000;
    --heading-text: #2D2D1F;
    --secondary-bg: #F7F7F7;
    --item-bg: #FAFAFA;
    --dark-theme-color: #404040;
    --text-color1: #2D2D1F;
    --text-color2: #424242;
    --text-color3: #1E1E1E;
    --text-color-lite: #1E1E1E;
}

.containerx {
    width: 100%; /* Full width */
    padding-right: 15px; /* Padding on the right */
    padding-left: 15px; /* Padding on the left */
    margin-right: auto; 
    margin-left: auto; 
}

@media (min-width: 576px) {
    .containerx {
        max-width: 540px; /* Maximum width for small devices */
    }
}

@media (min-width: 768px) {
    .containerx {
        max-width: 720px; /* Maximum width for medium devices */
    }
}

@media (min-width: 992px) {
    .containerx {
        max-width: 960px; /* Maximum width for large devices */
    }
}

@media (min-width: 1200px) {
    .containerx {
        max-width: 1140px; /* Maximum width for extra large devices */
    }
}

@media (min-width: 1400px) {
    .containerx {
        max-width: 1320px; /* Maximum width for extra extra large devices */
    }
}


h1 span {
    position: relative;
}

h1 span::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px; /* Adjust the distance from the text */
    transform: translateX(-50%) scaleX(0.8) rotate(-1.6deg); /* Centers and creates a concave effect */
    width: 80%;
    border-bottom: 5px solid #FFD80B; 
    border-radius: 50% 50% 0 50%; /* Adds a slight curve to the line */
}

section {
    overflow-x: hidden;
}

a {
    color: #2D2D1F;
}

/************************************************************************************
General Css ends
**************************************************************************************/





/************************************************************************************
Header css starts 
**************************************************************************************/

header{    
    background-color: #E2E1DD;
    font-family: Poppins, Segoe UI, Tahoma, sans-serif !important;
}
.top-navba a{
    font-size: 12.34px;
    color: var(--text-color2);
}
.navba{
    padding: 0 3rem;
}
.navba.sm{
    display: none !important;
}
.navba-links{
    margin: auto !important;
}
.navba ul {
    width: 100%;
    padding: 0;
    margin: 0;
}
.navba ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 1rem;
    font-size: 18px;
    font-weight: 600;
}

  .navba .dropdown .dropdown-container {
    display: none;
    /* height: 10rem; */
    /* padding-top: 1rem; */
    padding-left: 8px;
  }
  .navba .dropdown .dropdown-container a{
    display: block;
    padding: .7rem .5rem;
  }
  .navba .dropdown .dropdown-container a:hover{
    background: rgb(86, 86, 86);
  }
  .navba .dropdown{
    display: inline-block;  
    transition: 1s;
    position: relative;
    text-wrap: nowrap;
  }
  
  .navba .dropdown .dropbtn {
    font-size: 18px;
    font-weight: 500; 
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navba .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
  }
  
  .navba .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: .9rem;
    border-bottom: 1px solid #ccc;
  }
  .navba .dropdown .fa-chevron-down{
    transition: .7s;
  }
  .navba .dropdown:hover .fa-chevron-down{
    transform: rotate(180deg);
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .shopping-cart{
    position: relative;
    display: inline-block; 
}

.cart-q {
    position: absolute;
    top: -5px; 
    right: -5px; 
    padding: 2px 5px; 
    font-size: 12px; 
    border-radius: 50%; 
    background-color: #FFD80B; 
    color: #000; 
    font-weight: bold; 
}


/* HERO */

.hero{
    height: 110vh;
    background-image: url();
    position: relative;
}

.bg-cover{
    background-position: 50% 110% !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero .hero-content-wrapper{
    width: 70%;
    padding: 2rem 0;
}

.hero h1{
    font-size: 73px;
}
.hero p{
    font-size: 24px;
    color: var(--text-color1);
    opacity: 80%;
    text-align: center;
    padding: 0 10.57vw;
    margin-bottom: 3rem;
}

.hero .explore-btn{
    padding: .5rem 1rem;
    background: #dcb90b;
    color: var(--text-color1);
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    border-radius: 6px;
}

.hero-linear{
    width: 100%;
    height: 153px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 68.28%);
}
@media (max-width: 1200px) {
    .hero h1 {
        font-size: 3rem; /* Maximum size for large screens */
    }
    
    
}
@media (max-width: 1005px) {
    .navba{
        padding: 0 1.5rem;
    }
    
    .hero .hero-content-wrapper{
      padding: 6rem 0 2rem;
    }
}
@media (max-width: 884px){
    .hero{
        height: 85vh;
      }
      .hero .hero-content-wrapper{
        width: 80%;
      }
}
@media (max-width: 884px) {
    .hero .hero-content-wrapper{
        width: 85%;
      }
    .navba.lg{
        display: none !important;
    }
    .navba.sm{
        display: flex !important;
    }
    .navba-links{
        height: 100%; 
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 10;
        width: 100%;
        background-color: var(--text-color2);
        color: #E2E1DD;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
      }
      .navba .navba-links ul{
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        margin-top: 8rem;
        padding-bottom: 1rem;
      }
      .navba .navba-links ul li{
        margin: 1rem 0;
        border-bottom: 1px solid #aeacac;
        padding-bottom: .3rem;
      }
      .navba .navba-links ul li a{
        color: inherit;
      }
      .navba .sm-dropdown .dropdown-button{
        background: transparent;
        color: #fff;
        border: none;
        font-weight: 600;
      }
      .navba .dropdown .dropbtn {
        color: #fff;
      }
      .navba .dropdown-content a {
        float: none;
        color: black;
      }
      .navba .dropdown-container {
        display: none;
        text-align: center;
      }
      .navba label{
        display: block;
      }
      .navba .open-navba{
        font-size: 1.2rem;
        border: 2px solid #636262;
        padding: .1rem .7rem;
        border-radius: .3rem;
        cursor: pointer;
      }
      .navba .close-navba i{
        font-size: 2.5rem;
        position: absolute;
        top: 2%;
        right: 4%;
        cursor: pointer;
      }
      .show-navba{
         left: 0;
      }
      .bg-cover{
        background-position: top !important;
      }
}

@media (max-width: 600px) {
  .hero{
    height: 85vh;
  }
  .navba{
    margin-bottom: 1.5rem !important;
}
    .top-navba{
      justify-content: space-between !important;
      padding: 0 1rem;
    } 
    .topnav-contact{
      margin: 0 !important;
    }
    .hero .hero-content-wrapper{
        width: 90%;
        padding: 2rem 0;
    }
    .hero h1 {
        font-size: calc(2.5rem + 1vw); /* Adjusted scaling for medium screens */
    }
    .hero p{
        font-size: 24px;
        padding: 0 1rem;
        margin-bottom: 3rem;
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-radius: .7rem;
    }
    
}
@media (max-width: 320px) {
    .brand-logo img{
        width: 150px;
    }
    .hero h1{
        font-size: 30px;
    }
    .hero p{
        font-size: 20px;
    }
}


/************************************************************************************
Header css ends 
**************************************************************************************/


/************************************************************************************
Hero Css starts
**************************************************************************************/



/************************************************************************************
Hero Css ends
**************************************************************************************/



/************************************************************************************
Why choose us Css starts
**************************************************************************************/

.why-choose {
    margin-top: 4rem;
    background-color: white;

}
/* .why-choose h1 span{
    display: block;
} */
.why-choose h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    text-align: left;
    margin-bottom: 10px;

}
.why-choose p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 29.6px;
    text-align: left;
    color: var(--text-color-lite);


}

.why-choose a {
    color: #2D2D1F;
}
.why-choose a i{
    display: none;
}
.why-choose a img {
    display: inline-block; /* Allows transform to work on inline elements */
    transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.why-choose a:hover img {
    transform: translateX(10px); /* Moves the image to the right */
}

@media (max-width: 884px) {
    .why-choose .box{
        margin: 1rem 0;
    }
    .why-choose .more-info{
        padding: .5rem 1rem;
        background: transparent;
        border: 2px solid var(--text-color1);
        color: var(--text-color1);
        font-size: 18px;
        text-align: center;
        font-weight: 600;
        border-radius: 6px;
        transition: .7s;
    }
    .why-choose .more-info:hover{
        background: var(--text-color1);
        color: #fff;
    }
    .why-choose a img{
        display: none;
    }
    .why-choose a i{
        display: inline-block;
    }
}


/************************************************************************************
Why choose us Css ends
**************************************************************************************/




/************************************************************************************
Best Selling Products Css starts
**************************************************************************************/

.best-selling {

    margin-top: 2rem;
    background-color: var(--secondary-bg);
    width: 100%; /* Full width */
    padding-right: 15px; /* Padding on the right */
    padding-left: 15px; /* Padding on the left */
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.products {
    max-width: fit-content;
    margin: 2rem auto;
    background-color: #EEEEEE;

    border-radius: 44px;
    padding: 6px;
}

.products button {
    all: unset;

    color: var(--black-text);
    background-color: #EEEEEE;
   
    padding: 4px 0px 0px 0px;
    gap: 10px;
    border-radius: 32px;
    opacity: 0px;
    padding: 4px 10px;
    cursor: pointer

}

.products button.active {
    background-color: white;
}

.owl-carousel .owl-item img {
    width: auto;
    
}

.product-items .owl-stage-outer {
    overflow: visible !important; /* Override to allow overflow */
}


.product-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 5rem;
}

.item-card {
    border-radius: 20px;
    /* overflow: hidden; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), /* Primary shadow */
                0 1px 4px rgba(0, 0, 0, 0.08); /* Subtle shadow for softer edges */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth hover effect */

}

.item-card:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15), /* Stronger shadow on hover */
                0 3px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px); /* Lift effect on hover */
}


.item-img {
    position: relative; 
    /* display: inline-block;  */
    /* background-color: white; */
    
}

/* .item-img img{
    width: 200px;
} */

.item-info {
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.item-info .price-and-icon {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.item-img img {
    /* margin-top: -12.5rem; */
    width: 100%;
}

.price-and-icon .plus-icon {
    background-color: var(--heading-text);
    padding: 8px 13px;
    border-radius: 50px;
    cursor: pointer;
    color: white;

    transition: transform 0.3s ease; 
}


/* .shadow {
    position: absolute;
    bottom: 0px; 
    left: 5px; 
    height: auto; 
    
    z-index: 1; 
} */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.plus-icon:hover {
    animation: spin 1s ease;
}

.item-card .item-cat {
    color: #8D8D8D;
    font-size: 14px;
    margin-bottom: 0;
}

.item-card .item-name {
    color: black;
    font-size: 15px;
    font-weight: 600;
    display: inline;
    
}

.item-card .price-and-icon .item-price {
    margin-top: 20px;
    font-weight: 600;
}



/* customizing the owl navigations */
.product-items .owl-nav {
    display: block !important;
    position: relative;
    bottom: 17rem;
}

.product-items .owl-nav .owl-prev, .owl-nav .owl-next {
    display: inline-block;
    position: absolute;
    
    
}


.product-items .owl-nav .owl-prev {
    left: -2.5rem;
}

.product-items .owl-nav .owl-prev:hover {
    background: none;
}

.product-items .owl-nav .owl-next {
    right: -2.5rem;
    
}

.product-items .owl-nav .owl-next:hover {
    background: none;
}



.product-items .owl-dots {
    display: none !important; /* Ensure dots are not displayed */
}

/* for the navText */



.view-all {
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;

}


.view-all a img {
    display: inline-block; /* Allows transform to work on inline elements */
    transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.view-all a:hover img {
    transform: translateX(10px); /* Moves the image to the right */
}

/************************************************************************************
Best selling products css ends
**************************************************************************************/


/************************************************************************************
who we are css starts
**************************************************************************************/
.we-are img {
    display: inline-block;
}

.we-are p:first-child{
    font-size: 15px;
    font-weight: 500;
}
.we-are .works {
    display: flex;
    flex-direction: column;

}

.we-are .works .work-item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}


.we-are .works .work-item div p.num1{
    margin-bottom: 0 !important;
}

.we-are .works .work-item div p.work1 {
    text-wrap: nowrap;
    margin-right: 2rem;
}

.work-item:nth-child(1) {
    width: 60%;
}

.work-item:nth-child(2) {
    width: 77%;
}

.work-item:nth-child(3) {
    width: 70%;
}

.work-item .hr {
    margin-top: 0;
    height: 3px;
    background-color: #2D2D1F; 
    border: none;
    min-width: 230px;
}
@media (max-width: 991px) {
    .we-are p:first-child{
        margin-top: 1rem;
    }
}

/************************************************************************************
who we are css ends
**************************************************************************************/


/************************************************************************************
cta1 (Call to action 1) css starts
**************************************************************************************/

.cta {
    border-radius: 20px;
    background-image: linear-gradient(89.53deg, rgba(45, 45, 31, 0.97) -0.84%, rgba(45, 45, 31, 0) 90.32%), url('../img/cta.png');
    background-size: cover; /* Ensures the background image covers the container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    width: 100%; /* Adjust as needed */

    padding: 4rem 3rem;
    color: white;
}

.cta a {
    
    color: white;
    border: 1px solid white;
    padding: 6px 20px;
    border-radius: 5px;
    transition: background .2s ease;
}
.cta a:hover {
    color: #000000;
    background-color: white;
}

/************************************************************************************
cta1 (Call to action 1) css ends
**************************************************************************************/



/************************************************************************************
Testimonial css starts
**************************************************************************************/

.owl-carousel .item .testi-owner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.testimonial-box .owl-item img {  /* this changes the default */
    width: 60px;
}

.owl-carousel .item > img {
    width: 30px;
    height: 30px;

    margin-bottom: 20px;
}

.testi-owner div p {
    margin: 0;
}

.owl-carousel .item > p {
    margin-bottom: 40px;
}

.testi-owner div p:nth-child(2) {
    color:#979797;
    font-size: 13px;
}

/************************************************************************************
Testimonials css ends
**************************************************************************************/


/************************************************************************************
cta2 (Call to action 2) css starts
**************************************************************************************/


.cta2-section{
    /* border-radius: 20px; */
    background-image: linear-gradient(89.53deg, rgba(45, 45, 31, 0.97) -0.84%, rgba(45, 45, 31, 0) 90.32%), url('../img/cta2.png');
    background-size: cover; /* Ensures the background image covers the container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    width: 100%; /* Adjust as needed */

    padding: 4rem 3rem;
    color: white;

}

.cta2 a {
    
    color: white;
    border: 1px solid white;
    padding: 6px 20px;
    border-radius: 5px;
    transition: background .2s ease;
}
.cta2 a:hover {
    color: #000000;
    background-color: white;
}

.cta2 p {
    font-size: 14px;
}

/************************************************************************************
cta2 (Call to action 2) css ends
**************************************************************************************/



/************************************************************************************
Blog section css starts
**************************************************************************************/


.blog h2 {
    font-size: 25px;
    font-weight: bold

}


.blog .blog-row {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px; */
}

.blog .imgs {
    position: relative;
    border-radius: 20px;
}

.blog .imgs img {
    width: 300px !important;
    height: auto;
    border-radius: 20px;
}

.blog .imgs .category {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px 0 5px;
    background-color: var(--dark-theme-color) !important;
    color: white;
}

.blog .stats {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #727272;
    margin: 10px 0;
}

.blog .stats .dots{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog .stats .dots img{
    width: 7px;
}

.blog .blog-title {
    font-size: 18px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    max-width: 100%;

    /* display: none; */
}

@media(max-width: 600px){
    .blog .imgs img {
        width: 340px !important;
    }
}

/************************************************************************************
Blog section css ends
**************************************************************************************/



/************************************************************************************
FAQ section css starts
**************************************************************************************/



.faqs h2 {
    font-size: 25px;
    font-weight: bold

}

.faqs .faq-row {
    display: flex; /* Ensure flex is applied if needed */
    flex-wrap: wrap; /* Allow columns to wrap if they don't fit */
    column-gap:  5rem; /* Add gap if necessary */
}

.faq-row .faq-col-1 {
    flex:1.5
}


.faqs .faq-item div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: baseline;
    color: #2D2D1F;
}

.faq-item div i {
    cursor: pointer;
}



.faq-item .faq-details {
    overflow: hidden;
    transition: height 1s ease;
    height: 0;
}

.faq-item .faq-details.active {
    height: auto; /* This will be overridden by JS setting a specific height */
}


.faqs .faq-col-2 {
    background-image: url(../img/faq-bg.png);
    /* background-position: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    border-radius: 30px;

}


.faq-row .faq-col-2 {
    flex:1
}
@media (max-width: 991px) {
    .faqs .faq-row{
        display: block;
        
    }
    .faqs .faq-col-2 {
        height: 552px;
    }
}
@media (max-width: 991px) {
    .faqs .faq-col-2 {
        height: 452px;
    }
}
/************************************************************************************
FAQ section css ENDS
**************************************************************************************/



/************************************************************************************
Footer section css starts
**************************************************************************************/


.footer {
    background-color: var(--heading-text); /* Light background color */
    padding: 40px 0 1rem; /* Top and bottom padding */
    color: white;
    
}

.footer h5 {
    font-weight: bold; /* Bold headings */
    margin-bottom: 20px; /* Space below headings */
}

.footer a {
    color: white; /* Link color */
   
}

.footer a:hover {
    text-decoration: underline; /* Underline on hover */
}



.soc {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.soc li {
    display: inline-block; /* Display list items in a line */
}

.soc li a {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: white; 
    color: #2D2D1F; 
    text-decoration: none !important; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.soc li a:hover {
    background-color: #2D2D1F; /* Change background color on hover */
    color: white; /* Change icon color on hover */
    border: 2px solid white;
}


.subscribe {
    display: flex;
}

.subscribe input, .subscribe button {
    background-color: transparent;
    border: none;

    caret-color: white;

}

.subscribe input:focus {
    background-color: transparent;
    border: none;
    box-shadow: none; /* Remove default Bootstrap box shadow */
            outline: none; 
            column-rule-color: white;
}

.subscribe input::placeholder {
    color: white;
}

@media (max-width: 991px) {
    .footer .col-md-3{
        margin: .7rem 0;
    }
}
/************************************************************************************
Footer section css ends
**************************************************************************************/


